# Flutter/Dart build outputs
build/
.dart_tool/
.packages
.pub-cache/
.pub/
coverage/

# Generated code
**/*.g.dart
**/*.freezed.dart
**/generated/**
lib/generated_plugin_registrant.dart

# IDE & editor settings
.idea/
.vscode/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Logs & temp files
*.log
*.tmp

# Environment & secrets
.env
.env.*
*.keystore
*.jks
key.properties

# Android
android/local.properties
android/key.properties

# iOS
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Podfile.lock
ios/Runner/GeneratedPluginRegistrant.*

# Web
web/.dart_tool/
web/.packages

# Misc
*.lock.hive
